
html,body{
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.transactionDiv{
    height: 425px;
    overflow: auto;
}
.transactionDivSub{
    background-color: #9e9e9e;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.transactionDivSubSub{
    justify-content: space-between;
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
    margin: 5px;
}
.transactionDivSubTitle{
    padding: 5px 13px 0px 6px;
    font-weight: bolder;
}
.divExpense{
    background-color: #bf7171;
    color: #700000;
    font-weight: bold;
}
.divTransfer{
    background-color: #7172bf;
    color: #020061;
    font-weight: bold;
}
.divSystem{
    background-color: #74757a;
    font-weight: bold;

}
.divIncome{
    background-color: #7bbf71;
    color: #004f00;
    font-weight: bold;
}
.tabContent{
    padding:10px;
    display: none;
}
.topContainer{
    margin-top:10px;
}

.accountDiv{
    border-radius: 5px;
    margin: 5px;
}

.selectedAccount{
    background-color: #487542;
    /* border: solid 2px green; */
}

.notSelectedAccount{
    background-color: #7bbf71;
}

.summaryContainer{
    background-color: #9e9e9e;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.summaryContainerSub{
    display: flex;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px 0px 5px;
    justify-content: space-between;
}

.transContr{
    background-color: #9e9e9e;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.transContrContSub{
    /* background-color: #74757a; */
    border-radius: 5px;
    margin: 5px;
}

.categoryContainer, .accountContainer{
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: #9e9e9e;
}

.loadingAnim{
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.loadingAnimSub{
    opacity: 1;
    margin: auto;
    width: 200px;
    top: 100px;
    background-color: white;
    border-radius: 5px;
    padding: 30px 5px 30px 5px;
}

.editEntryForm{
    display: none;
}

.chartContainer{
    background-color: #d1ddff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.modal{
    top: 20%;
}

.categoryContainerHeader,
.accountContainerHeader{
    justify-content: space-between;
    padding: 0px 5px 0px 6px;
    display:flex;
}

.categorySub,
.accountSub{
    justify-content: space-between;
    display:flex;
    background-color: #757575;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 0px 0px 8px;
    margin: 5px;
}
