
body{
    max-height: 100vh;
}

.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.transactionDiv{
    max-height: 80vh;
    overflow: auto;
}
.transactionDivSub{
    background-color: #9e9e9e;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.transactionDivSubSub{
    justify-content: space-between;
    border-radius: 5px;
    padding: 0px 0px 0px 8px;
    margin: 5px;
}
.divExpense{
    background-color: #c93e3e;
}
.divTransfer{
    background-color: #74757a;
}
.divIncome{
    background-color: #159e17;
}
.tabContent{
    padding:10px;
    display: none;
}
.topContainer{
    margin-top:10px;
}

.accountDiv{
    border-radius: 5px;
    margin: 5px;
}

.selectedAccount{
    background-color: #487542;
}

.notSelectedAccount{
    background-color: #7bbf71;
}

.summaryContainer{
    background-color: #9e9e9e;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.summaryContainerSub{
    background-color: #74757a;
    border-radius: 5px;
    margin: 5px;
}

.transContr{
    background-color: #9e9e9e;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.transContrContSub{
    /* background-color: #74757a; */
    border-radius: 5px;
    margin: 5px;
}

.categoryContainer, .accountContainer{
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: #9e9e9e;
}

.loadingTransaction{
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.loadingTransactionSub{
    opacity: 1;
    margin: auto;
    width: 200px;
    top: 100px;
    background-color: white;
    border-radius: 5px;
    padding: 30px 5px 30px 5px;
}
