{% extends 'walletapp/layout.html' %}
{% block title %}Index Page{% endblock %}
{% block body %}
{% csrf_token %}
{% load mathfilters %}
<div class="container-fluid">
    <div class="row">
        <!-- filter container -->
        <div class="indexLeftContainer col-md-4">
            <div class="filterContainer">
                <!-- filter form -->
                <div class="form-group">
                    <input class="filterNote form-control" placeholder="Filter Note" autocomplete="off">
                </div>
                <div class="form-group">
                    <select class="filterCategory form-control">
                        <option value="" selected>All Category</option>
                        {% for item in category %}
                        <option value="{{item.pk}}">{{item.categoryName|title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="filterAccount form-control">
                        <option value="" selected>All Accounts</option>
                        {% for item in accounts %}
                        <option value="{{item.pk}}">{{item.accountName|title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="filterType form-control">
                        <option value="" selected>All Transaction</option>
                        <option value="expense">Expense</option>
                        <option value="income">Income</option>
                        <option value="transfer">Transfer</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="filterDate form-control">
                    <input type="hidden" class="filterDateStart">
                    <input type="hidden" class="filterDateEnd">
                </div>
                    <button class="filterButton btn btn-primary btn-md form-control">Filter</button>
                    <button class="clearFilterButton btn btn-secondary btn-md form-control">Clear Filter</button>
                    <button class="addEntryButton btn btn-success form-control" data-toggle="modal" data-target=".addEntryModal">New Transaction</button>
            </div>
        </div>
        <!-- transactions div -->
        <div class="indexRightContainer col-md-8">
            <div class="transactionDiv"></div>
        </div>
    </div>
</div>

<!-- modal -->
<!-- edit/delete entry modal -->
<div class="modal fade indexModal" tabindex="-1" role="dialog" aria-labelledby="indexModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title indexModalLabel">Entry Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin:0 auto;">
                <div class="tabDiv text-center" style="margin:0px 0px 10px 0px">
                    <button type="button" class="entryDeleteButton btn btn-danger" >Delete</button>
                    <button type="button" class="entryEditButton btn btn-primary" style="margin:0px 15px 0px 15px">Edit</button>
                </div>
                <div class="editEntryHiddendiv"></div>
                <form class="editEntryForm" action="javascript:editEntryConfirm()"></form>
            </div>
        </div>
    </div>
</div>

<!-- add entry modal -->
<div class="modal fade addEntryModal" tabindex="-1" role="dialog" aria-labelledby="addEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title addEntryModalLabel">Add Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tabDiv text-center" style="margin:0px 0px 10px 0px">
                    <button class="tabButton btn btn-success btn-md" onclick="openTab(event, 'incomeForm')">Income</button>
                    <button class="tabButton btn btn-danger btn-md" onclick="openTab(event, 'expenseForm')">Expense</button>
                    <button class="tabButton btn btn-primary btn-md" onclick="openTab(event, 'transferForm')">Transfer</button>
                </div>
                <form class="tabContent incomeForm text-center" action="javascript:addEntry();">
                    <input type="hidden" class="new_entry_type">
                    <div class="form-group">
                        <input type="text" class="form-control new_entry_amount" placeholder="Amount" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control new_entry_to" required>
                            <option value="" selected disabled>Account</option>
                            {% for item in accounts %}
                            <option value="{{item.pk}}">{{item.accountName|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control new_entry_category" required>
                            <option value="" selected disabled>Category</option>
                            {% for item in income_category %}
                            <option value="{{item.pk}}">{{item.categoryName|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control new_entry_date" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control new_entry_note" placeholder="Note" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
                <form class="tabContent expenseForm text-center" action="javascript:addEntry();">
                    <input type="hidden" class="new_entry_type">
                    <div class="form-group">
                        <input type="text" class="form-control new_entry_amount" placeholder="Amount" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control new_entry_from" required>
                            <option value="" selected disabled>Account</option>
                            {% for item in accounts %}
                            <option value="{{item.pk}}">{{item.accountName|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control new_entry_category" required>
                            <option value="" selected disabled>Category</option>
                            {% for item in expense_category %}
                            <option value="{{item.pk}}">{{item.categoryName|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control new_entry_date" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control new_entry_note" placeholder="Note" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
                <form class="tabContent transferForm text-center" action="javascript:addEntry();">
                    <input type="hidden" class="new_entry_category" name="new_entry_category" value="transfer">
                    <input type="hidden" class="new_entry_type" name="new_entry_type" value="transfer">
                    <div class="form-group">
                        <input type="text" class="form-control new_entry_amount" placeholder="Amount" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control new_entry_from" required>
                            <option value="" selected disabled>Select origin account</option>
                            {% for item in accounts %}
                            <option value="{{item.pk}}">{{item.accountName|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control new_entry_to" required>
                            <option value="" selected disabled>Select destination account</option>
                            {% for item in accounts %}
                            <option value="{{item.pk}}">{{item.accountName|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control new_entry_date" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control new_entry_note" placeholder="Note" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- loading animation -->
<div class="loadingAnim" style="text-align:center;display:none;">
    {% load static %}
    <div class="loadingAnimSub col-4">
        <img src="{% static 'walletapp/images/loading.gif' %}"/>
        <p>Please Wait</p>
    </div>
</div>
{% endblock %}
