<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'walletapp/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'walletapp/datepicker/daterangepicker.css' %}">
        <link rel="stylesheet" href="{% static 'walletapp/style.css' %}">
        <script src="{% static 'walletapp/jquery-3.5.1/jquery.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'walletapp/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'walletapp/datepicker/moment.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'walletapp/datepicker/daterangepicker.js' %}" charset="utf-8"></script>
        <script src="{% static 'walletapp/chart/chart.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'walletapp/chart/utils.js' %}" charset="utf-8"></script>
        <script src="{% static 'walletapp/app.js' %}" charset="utf-8"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">WALLET</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Transaction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'overview' %}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settingPage' %}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signout' %}">Logout</a>
                    </li>
                </ul>

            </div>
        </nav>
        {% if message %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
