{% extends 'walletapp/layout.html' %}
{% block title %}Overview{% endblock %}
{% block body %}
{% load static %}

<div class="overviewContainer" style="display:flex;overflow:auto;">
    {% for item in accounts %}
    <div class="accountDiv text-center col-4 notSelectedAccount" id="{{item.accountName}}" style="cursor:pointer;">
        <h4>{{item.accountName}}</h4>
        <span>Type: </span><span>{{item.accountType}}</span><br>
        <span>Balance: </span><span>{{item.accountBalance}}</span>
    </div>
    {% endfor %}
</div>

<div class="container-fluid" style="overflow:auto;height:400px;display:flex;">
    <div class="summaryContainer col-md-3">
        <div class="summaryContainerHeader text-center">
            <h4>Summary</h4>
        </div>
        <hr>
        <!-- filter -->
        <input type="hidden" name="filterDateStart" id="filterDateStart" value="">
        <input type="hidden" name="filterDateEnd" id="filterDateEnd" value="">
        <input type="text" class="form-control" name="filterDate" id="filterDate">
        <div class="summaryContainerSub">
            <span>Total Income</span>
            <span id="totalIncome"></span>
        </div>
        <div class="summaryContainerSub">
            <span>Total Expense</span>
            <span id="totalExpense"></span>
        </div>
        <div class="summaryContainerSub">
            <span>Total Transfer</span>
            <span id="totalTransfer"></span>
        </div>
        <div class="summaryContainerSub">
            <span>Balance Change</span>
            <span id="totalChange"></span>
        </div>

    </div>

    <!-- chart canvas -->
    <div class="chartContainer col-md-9" style='display:flex;'>
        <div class="leftSectionChart col-6">
            <canvas class='col-12' id="expenseChart" width="300" height="180"></canvas>
            <canvas class='col-12' id="incomeChart" width="300" height="180"></canvas>
        </div>
        <canvas class='col-6' id="balanceChart" width="300" height="330"></canvas>
    </div>

</div>
<div class="loadingAnim" style="text-align:center;display:none;">
    <div class="loadingAnimSub col-4">
        <img src="{% static 'walletapp/images/loading.gif' %}"/>
        <p>Please Wait</p>
    </div>
</div>
{% endblock %}




<!-- Account Summary -->
<!-- transaction summary -->
<!-- <div class="transContr">
    <div class="transContrHeadr text-center">
        <h4>Transactions</h4>
    </div>
    <hr>
    <div class="transContrCont">
    </div>
</div> -->
