{% extends 'walletapp/layout.html' %}
{% block title %}Settings{% endblock %}
{% block body %}
<hr>
<div class="categoryContainer col-md-5">
    <div class="accountContainerHeader" style="display:flex;">
        <h5>Category</h5>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCategoryModal" name="button">Add</button>
    </div>
    {% for item in category %}
    <div class="categorySub">
        <span>{{item.category}}</span>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#categoryModal" onclick="categoryDetail('{{item.id}}', '{{item.category}}')">Edit</button>
    </div>
    {% endfor %}
</div>
<hr>
<div class="accountContainer col-md-5">
    <div class="accountContainerHeader" style="display:flex;">
        <h5>Accounts</h5>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addAccountModal" name="button">Add</button>
    </div>
    {% for item in accounts %}
    <div class="accountSub">
        <span>{{item}}</span>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#accountModal" onclick="accountDetail('{{item.id}}', '{{item.accountName}}', '{{item.accountBalance}}', '{{item.accountType}}')">Edit</button>
    </div>
    {% endfor %}
</div>
<hr>

<!-- add category/ -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="addCategory" method="post">
                    {% csrf_token %}
                    <div class="inviForm"></div>
                    <label for="add_category_input">New category</label>
                    <input type="text" class="form-control add_category_input" name="add_category_input" id="add_category_input">
                    <button type="button" class="btn btn-primary addNewCategory">Test</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit or delete category/////////////////////////////////////////////////// -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="deleteCategory" method="post">
                    {% csrf_token %}
                    <div class="inviForm"></div>
                    <button type="submit" class="btn btn-danger" id="categoryModalButton1">Delete</button>
                </form>
                <form action="editCategory" method="post">
                    {% csrf_token %}
                    <div class="inviForm"></div>
                    <input type="text" class="form-control" name="edit_category_input" id="edit_category_input">
                    <button type="submit" class="btn btn-primary" id="categoryModalButton2">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit or delete account//////////////////////////////////////////////// -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountModalLabel">Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="deleteAccount" method="post">
                    {% csrf_token %}
                    <div class="inviForm"></div>
                    <button type="submit" class="btn btn-danger" name="button">Delete</button>
                </form>
                <form action="editAccount" method="post">
                    {% csrf_token %}
                    <div class="inviForm"></div>
                    <label for="edit_account_name">Account Name</label>
                    <input type="text" class="form-control" name="edit_account_name" id="edit_account_name">
                    <label for="edit_account_balance">Account Balance</label>
                    <input type="text" class="form-control" name="edit_account_balance" id="edit_account_balance">
                    <label for="edit_account_type">Account Type</label>
                    <!-- <input type="text" class="form-control" name="edit_account_type" id="edit_account_type"> -->
                    <select class="form-control" name="edit_account_type" id="edit_account_type">
                        {% for item in accountTypes %}
                            <option value="">{{item.accountType}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary" name="button">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- add account modal//////////////////////////////////////////////////// -->
<div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAccountModalLabel">New Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="addAccount" method="post">
                    {% csrf_token %}
                    <div class="inviForm"></div>
                    <label for="edit_account_name">Account Name</label>
                    <input type="text" class="form-control" name="add_account_name" id="add_account_name">
                    <label for="edit_account_balance">Account Balance</label>
                    <input type="text" class="form-control" name="add_account_balance" id="add_account_balance">
                    <label for="edit_account_type">Account Type</label>
                    <input type="text" class="form-control" name="add_account_type" id="add_account_type">
                    <button type="submit" class="btn btn-primary" name="button">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
